.navbar {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  background-color: #0f172a;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  grid-column: 1 / 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fefefe;
}

.navbarRight {
  grid-column: 3 / 4;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.navLink {
  color: #fefefe;
  text-decoration: none;
}

.navLink:hover {
  color: #fefefe;
  text-decoration: underline;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.username {
  margin-right: 10px;
  color: #fefefe;
}

.profileIcon {
  color: #fefefe;
  font-size: 30px;
  margin-right: -40px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .navbarRight {
    display: none; 
  }

  .menuIcon {
    display: block;
    color: #fefefe;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
  }

  .dropdownMenu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0f172a;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 1001;
  }

  .dropdownMenu.active {
    display: flex; /* Show dropdown menu when active */
  }

  .navLink {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}