.container {
  padding: 20px;
  padding-top: 80px;
  background-color: #f4f6f8; 
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  border-radius: 25px;
}

.actions {
  display: flex;
  align-items: center;
}

.tableContainer {
  margin-top: 80px;
  border-radius: 20px;
  background-color: #ffffff; 
  padding: 16px;
  height: calc(100vh - 160px); 
  width: 95vw;
  overflow: auto; 
}

.tableContainer::-webkit-scrollbar {
  width: 3px; 
  height: 8px; 
}

.tableContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #858585; 
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.tablePaper {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.headerCell {
  font-weight: bold;
  color: #333333; /* Dark text for contrast */
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.tableRow:hover {
  background-color: #e0e0e0; /* Light grey on hover */
}

.subContent {
  color: #666666; /* Slightly lighter grey for secondary content */
  font-size: 0.85em;
}

.pagination {
  margin-top: 16px;
}
